---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>The short version</h2>
  <p>
    I'm Evan (he/any). Software engineer, husband & father, Buddhist, aspiring antipodean.
  </p>

  <h2>Work</h2>
  <p>
    I write software for <a href="https://indeed.com">Indeed</a> (job search site), previously 
    employed by Amazon. I've written a lot of database-backed web services in Java, but in 
    recent years I've been working on micro-frontend platforms in JavaScript & TypeScript, 
    primarily supporting React. I have more knowledge about webpack Module Federation than 
    anyone should be cursed with. I'd love to try SolidJS, Rust seems really cool, and I'm 
    excited about the future of WebAssembly.
  </p>

  <h2>Buddhism</h2>
  <p>
    I'm training for ordination with the <a href="https://thebuddhistcentre.com/">Triratna Buddhist</a> 
    Order and have been for many years. It's a long process, especially with other things going on. 
    I've done some kind of meditation (mostly anapanasati) every day for years now, and more 
    sporadically since 2006.
  </p>

  <h2>Family</h2>
  <p>
    My daughter Juniper was born at the beginning of 2020, so her experience of life and my 
    experience of parenthood are both tightly linked to the pandemic. On the upside, I get to 
    work remotely, which means I get more time with her.
  </p>
  <p>
    Then, we had our twins Heath & Magnolia (Noli) in September 2023, and our lives got even 
    more hectic and full of love.
  </p>

  <h2>Aspiring antipodean</h2>
  <p>
    My wife & I have fantasized about moving to New Zealand or Australia since well before 
    the pandemic, and now we're actively trying to make it happen. Since we're both in 
    high-demand professions (she's a nurse), I think it should go reasonably smoothly.
  </p>

  <h2>Elsewhere</h2>
  <ul>
    <li><a rel="me" href="https://fe.disroot.org/@evantd">@evantd@fe.disroot.org</a> (primary)</li>
    <li><a rel="me" href="https://mastodon.nzoss.nz/@evantd">@evantd@mastodon.nzoss.nz</a></li>
    <li><a href="https://www.linkedin.com/in/evan-dower-589a592/">LinkedIn</a></li>
    <li><a href="https://github.com/evantd">GitHub</a></li>
  </ul>
</BaseLayout>
