---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm currently working on transferring content from Weebly now that using a
    custom domain with them is no longer free. Plus, as a software engineer, I
    suppose I ought to have a "real" site anyway.
  </p>
</BaseLayout>
