---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Software engineer, husband & father, Buddhist, aspiring antipodean.
  </p>
  <p>
    I write software for <a href="https://indeed.com">Indeed</a> (previously Amazon). 
    I've written a lot of database-backed web services in Java, but in recent years 
    I've been working on micro-frontend platforms in JavaScript & TypeScript, primarily 
    supporting React.
  </p>
  <p>
    I'm training for ordination with the <a href="https://thebuddhistcentre.com/">Triratna Buddhist</a> Order 
    and have been practicing some form of meditation (mostly anapanasati) daily for several years.
  </p>
  <p>
    My wife & I have fantasized about moving to New Zealand or Australia since well before 
    the pandemic, and now we're actively trying to make it happen.
  </p>
  <p>
    Find me on the fediverse: 
    <a rel="me" href="https://fe.disroot.org/@evantd">@evantd@fe.disroot.org</a>
    (or my <a rel="me" href="https://mastodon.nzoss.nz/@evantd">old account</a>)
  </p>
</BaseLayout>
