---
---

<header>
  <nav>
    Evan Dower
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/parenting/">Parenting</a>
    <a href="/resume/">Resume</a>
  </nav>
</header>
